extends layout

block content
  .container
    p Your email address will only be used to respond to your inquiry.  It is
      | not stored or used for any unrelated purposes.
  .container
    form.form-horizontal(role="form",method="POST",action="/contact")
      .form-group
        label.col-md-2.control-label(for="returnAddress") Your Email
        .col-md-10
          input.form-control#returnAddress(placeholder="Your Email",type="email",name="returnAddress")
      .form-group
        label.col-md-2.control-label(for="message") Message
        .col-md-10
          textarea.form-control#message(rows=10,placeholder="Message",name="message")
      .form-group
        label.col-md-2.control-label Google Recaptcha
        .col-md-10
          script(type="text/javascript").
            var RecaptchaOptions = {
              theme: 'custom',
              custom_theme_widget: 'recaptcha_widget'
            };
          #recaptcha_widget(style="display:none")
            #recaptcha_image(style="border: 3px")
            .recaptcha_only_if_incorrect_sol(style="color:red")
              | Incorrect please try again
            .form-horizontal.form-group(style="padding-top: 10px")
              label.col-md-3.recaptcha_only_if_image(for="recaptcha_response_field") Enter the words above:&nbsp;&nbsp;
              label.col-md-3.recaptcha_only_if_audio(for="recaptcha_response_field") Enter the numbers you hear:&nbsp;&nbsp;
              .col-md-5
                .control-group
                  .controls.form-inline
                    input#recaptcha_response_field.form-control(type="text",name="recaptcha_response_field")
                    a.btn.btn-default(href="javascript:Recaptcha.reload()")
                      span.glyphicon.glyphicon-repeat
                    a.recaptcha_only_if_image.btn.btn-default(href="javascript:Recaptcha.switch_type('audio')")
                      span.glyphicon.glyphicon-headphones
                    a.recaptcha_only_if_audio.btn.btn-default(href="javascript:Recaptcha.switch_type('image')")
                      span.glyphicon.glyphicon-picture
                    a.btn.btn-default(href="javascript:Recaptcha.showhelp()")
                      span.glyphicon.glyphicon-question-sign
          script(type="text/javascript",src="http://www.google.com/recaptcha/api/challenge?k="+recaptcha_pub_key)
          noscript
            iframe(src="http://www.google.com/recaptcha/api/noscript?k=your_public_key",height="300",width="500",frameborder="0")
            textarea(name="recaptcha_challenge_field",rows="3",cols="40")
            input(type="hidden",name="recaptcha_response_field","manual_challenge")
      .form-group
        .col-md-2
        .col-md-10
          button.btn.btn-default(type="submit") Send Message

