extends layout

mixin work-info(title, company, duration, location)
  .row
    .col-md-12
      h3= title
        | &nbsp;
        small= company
  .row
    .col-md-4
      table
        tr
          td.work-info-glyph-cell
            span.glyphicon.glyphicon-calendar
          td= duration
    .col-md-4
      table
        tr
          td.work-info-glyph-cell
            span.glyphicon.glyphicon-map-marker
          td= location


block content
  .container
    h2
      span.glyphicon.glyphicon-asterisk
      | &nbsp; Who I Am
    p
      | I am a Software Developer new to the the Miami and Ft. Lauderdale 
      | areas looking for full time employment.
      | I bring knowledge of several programming languages, database servers,
      | and web service frameworks along with the ability to work within Agile
      | and more traditional software development lifecycles.  I'm seeking to
      | extend those skillsets and am open to exploring areas that are outside
      | of traditional development, such as DevOps. 
    h2 
      span.glyphicon.glyphicon-briefcase
      | &nbsp; Work History
    .container.work-info-container
      +work-info('Software Developer', 'Manheim, Inc.',
        'November 2012 to Present', 'Atlanta, GA')
      .row
        .col-md12
          p Develop and maintain Manheim’s 
            | #[a(href="http://developer.manheim.com/#/apis/events") Events API].  
            | The Events API is currently a series of microservices built around 
            | Ruby Sinatra, SQS, and using Cassandra to store events.
          p Develop and maintain Manheim’s 
            | #[a(href="http://developer.manheim.com/#/authentication") OAuth2 API]
            | , Mashery API mappings, and support clients in using it. The API 
            | is currently undergoing a rewrite to use PingFederate and move us 
            | away from Mashery for authentication and authorization.
          p Automate deployment into Amazon Web Services via Elastic Beanstalk 
            | and Lambda.
          p Assist Release Engineering in maintaining shared infrastructure such 
            | as SES Receipt Rules, VPCs/Subnets.  Making outputs such as Subnet 
            | IDs available to all automated pipelines and leveraging 
            | Infrastructure as Code and GitHub pull requests to track and 
            | approve requests for changes.
          p Assist teams new to AWS in determining how best to implement and 
            | monitor auto-scaling triggers.
          p Regularly audit the Eventer’s AWS use and find ways to cut 
            | expenses either through adding Cloud Custodian tags for off 
            | hours, downsizing and consolidating non-production environments, 
            | or improving our auto-scaling triggers.
          p Develop, deploy, and support web services based on SpringWS or 
            | TIBCO Business Works (an Enterprise Service Bus).
          p Ensured services supported SOAP and REST simultaneously. Also 
            | ensured REST calls supported XML and JSON return types, providing 
            | maximum flexibility and reuse by multiple product lines.
          p Used JMS (provided by TIBCO EMS) to create services triggered via 
            | event messaging.
          p Worked to use XML Schema Documents define reusable, canonical XML 
            | messages that were consumed across the enterprise by both 
            | planned and unplanned consumers.
          p Dedicated "downtime" to skunkworks projects exploring possible 
            | Esper, Storm, and Hadoop uses within the enterprise.
          p Standardized and automated SoapUI test projects allowing for a 
            | single command to be run to test the health of over 30 web 
            | services within a few minutes. This provided improved, more 
            | reliable responses to severe events where underlying databases, 
            | load balancers, and other network elements took down services. 
            | This could be customized to provide easily interpreted before 
            | and after reports for deployments and other network changes, 
            | also improving Common Services reliability and accuracy in 
            | testing network element changes. 
    .container.work-info-container
      +work-info('IT Developer II', 'The Home Depot', 
        'July 2012 to November 2012', 'Atlanta, GA')
      .row
        .col-md12
          p Developed a solution to convert requests from a 3rd party sales 
            | analysis product into Excel documents emailed to employees that 
            | allowed them to audit and confirm changes being made to stock 
            | levels and stocking status of SKU's at the store level. This 
            | software was critical in the transition away from hierarchical, 
            | market based management of store stock to a clustering approach 
            | that would cluster stores based on the demographics and habits 
            | of customers, increasing sales.
          p Worked on a proof of concept project using Storm, Cassandra, and 
            | JRules.
    .container.work-info-container
      +work-info('Service Delivery Engineer', 'Cox Communications',
        'May 2011 to July 2012', 'Atlanta, GA')
      .row
        .col-md12
          p Created several monitoring and reporting applications using 
            | combinations of Bash and Perl in a Linux environment. These 
            | scripts often involved interaction with LDAP, proprietary 
            | protocols accessed via Net::Telnet, and processing results 
            | before sending emailed reports if necessary.
          p Produced a GUI front end built on the NetBeans Platform for the 
            | team to use to pull subscriber specific information and 
            | download or upload greeting WAV files via a REST interface 
            | (content was XML). Development took 1 month of spare time and 
            | there was no prior experience with the NetBeans Platform.
          p Recruited as a subject matter expert for a legacy Movius platform, 
            | however now work almost 75% on automation, monitoring, and 
            | reporting for Acision's voice mail product.
    .container.work-info-container
      +work-info('Product Support Engineer', 'Movius Corporation',
        'July 2010 to May 2011', 'Atlanta, GA')
      .row
        .col-md12
          p Became designated Subject Matter Expert for the System Management 
            | Unit in the Versera ICE platform in less than 1 year. 
          p Contributed to patches in Java leveraging SVN and a proprietary 
            | build environment.
          p Assisted in a project for a tier 1 provider transitioning from a 
            | legacy platform to the ICE platform ensuring feature parity and 
            | providing a rapid deployment cycle in order to achieve time 
            | lines.
          p Provided support and troubleshooting for Java Applications, Apache 
            | Tomcat, and Red Hat Linux.
          p Script maintenance included detecting and automating proper 
            | restarts of of failed services and elegant turn-over of control 
            | in HA situations.
          p Performed basic configuration adjustments of Apache Tomcat, 
            | regularly wrote JSP pages to control call flows in client 
            | systems, assisted in debugging Java Bean code.
          p Constructed and installed Movius software into testing 
            | environments. Maintained testing environment version via 
            | upgrades and configuration adjustments.
          p Achieved all of the above while also exclusively providing 
            | top-tier support to 2 major telecommunications providers 
            | utilizing the Movius Versera ICE platform.
    h2 
      span.glyphicon.glyphicon-book
      | &nbsp; Education
    .container.work-info-container
      +work-info("Bachelor's of Science of Computer Science",
        'Columbus State University', 'Graduated December 2009',
        'Columbus, GA')
      .row
        .col-md12
          p Graduated Magna Cum Laude
    h2 
      span.glyphicon.glyphicon-wrench
      | &nbsp; Skills
    h3 Programming Languages
    table.table
      tr
        th Language
        th Comments
      tr
        td Java
        td Familiar with multi-threading from roll-your-own 
          | using Thread, objects, and a LinkedBlockingQueue to pass 
          | tasks to waiting threads to ExecutorService,
          | ExecutorCompletionService and Futures to execute batches of
          | tasks via thread pools.  Regularly leverage JDBC to query 
          | databases.
      tr
        td Perl
        td Regularly use CPAN modules and have written my own object oriented
          | modules to create a plethora of utilities for health checks,
          | monitoring, automation, log processing, and reporting.
      tr
        td JavaScript
        td Used in node.js to serve this site.
      tr
        td Python
        td Have completed basic programs in Python such as in-order tree
          | traversals and a few one-off XML munging scripts for personal
          | projects.  I like generators and the yield keyword in particular
          | for these tasks.
      tr
        td Groovy
        td Used mostly in the context of SoapUI custom scripts.
      tr 
        td XML Schema
        td While not exactly a language onto itself, all of my Spring 
          | services have been written contract first with a set of XSD files
          | providing the business objects in the service via JAX-B.
    h3 Frameworks and Servers
    table.table
      tr
        th Framework/Server
        th Comments
      tr
        td Spring Web Services
        td Have written several CRUD services.  Leveraged Spring Security and
          | used the Spring AOP module to use point-cuts to address 
          | cross-cutting concerns such as performance logging of specific
          | functions and applying Spring Security policies.
      tr
        td TIBCO Services Designer
        td Designed multiple JMS and SOAP based services that orchestrated
          | calls to other backing services or directly queried databases.
      tr
        td Tomcat Server
        td Regularly configure and deploy Tomcat servers.
      tr
        td Node.js
        td This site is hosted on Node.js using the Express framework.
    h3 Other Skills
    .container
      .col-md-4
        ul
          li PHP
          li Tcl
          li Expect
          li HTML
      .col-md-4
        ul
          li MySQL
          li Linux Administration
          li Red Hat Server Management
          li Many networking protocols, including DNS, TCP, HTTP, SNMP, SS7,
            | SMTP, DNS, and SNMP.
