!!! 5
html
  head
    block head
      block title
        title David Kolb: Software Developer
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
      script(src='/scripts/bootstrap.min.js')
  body

    include header

    block content

    include footer
